/*******************************
            Global
*******************************/
 html, body {
    font-size: 16px;
    height: 100%;
}
body {
    font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}
/*******************************
          UI Overrides
*******************************/
 .ui.header {
    font-family:'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.ui.header, h1, h2 {
    font-weight: normal !important;
}
h1.ui.header {
    font-size: 3em;
}
h4.ui.header, h5.ui.header, .ui.icon.header {
    font-weight: bold !important;
}
.ui.button {
    font-weight: normal;
    text-decoration: none;
}
a {
    color: #009FDA;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #00BAFF;
}
p a {
    font-weight: bold;
}
.mensagens-permissoes {
    height: 55px;
}
/*******************************
            Global
*******************************/
.container {
    width: 915px;
    margin: 0px auto
}
/*******************************
          Responsive
*******************************/
@media only screen and (max-width : 450px) {
}
@media only screen and (max-width : 600px) {
    .container {
        width: 460px;
    }    
}
@media only screen and (max-width : 1000px) {
}
@media only screen and (min-width : 998px) {
}
@media only screen and (min-width : 1500px) {
}
@media only screen and (min-width : 1750px) {
}
@media only screen and (min-width : 1725px) {
    .container {
        width: 1100px;
    }
}
@media only screen and (min-width : 2000px) {
}
@media only screen and (min-width : 2300px) {
    .container {
        width: 1320px;
    }
}
.box-login {
    padding-top: 10%;
}
.ui.pagination.menu {
    margin: 30px 0 0 0;
}
.mensagem-ajax {
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    display: none;
    border-radius: 10px 10px 0 0;
    background-color: #DEFCD5;
    text-align: center;
}
.contenteditable {
    cursor: text;
}
.icon-salvar-apelido {
    display: none;
    cursor: pointer;
}
#clientsList .filtro-lista .input-busca{
    width: 300px;
    vertical-align: middle;
}
.box-slug {
    display: none;
}
input#ed_slug[readonly] {
    background: #f5f5f5;
}
.ui.progress.success .bar {
  background-color: #5BBD72!important;
}
.ui.progress.error .bar {
  background-color: #D95C5C!important;
}
.ui-datepicker {
    z-index: 100 !important;
}
